{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "contain": true,
  "cellAlign": "left",
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}


<div class="featured-collection-slider page-width" style="margin-top: {{section.settings.margin_top}}px;margin-bottom: {{section.settings.margin_bottom}}px;padding-top:{{section.settings.padding_top}}px;padding-bottom:{{section.settings.padding_bottom}}px;">
{% if section.settings.title != blank %}
<div class="section-header text-center">
  <h2 style="font-size: {{ section.settings.text_size }}px; color: {{ section.settings.title_color }};">{{ section.settings.title | escape }}</h2>
</div>
{% endif %}
 
{%- assign items_limit = section.settings.articles_count -%}
 
  <div class="products-carousel js-flickity" data-flickity='{{ flickity_options }}'>
    {% for article in section.settings.blog.articles limit: items_limit %}
      <div class="carousel-cell" style="width: {{ article.image.width }}px;">
        <a href="{{ article.url }}">
          <div class="image-container">
            <div class="overlap-blog">
              <img class="img-explore img-size" src="{{ article.image.src | img_url: 'master' }}">
            </div>
            <h4 class="title">{{ article.title }}</h4>
          </div>
        </a>
      </div>  
    {% endfor %}
  </div>
</div>


<style>
.overlap-blog {
  filter: brightness(0.{{section.settings.image_brightness}});
}
.image-container {
  position: relative;
}
.title {
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 700;
  margin-left: 25px;
  width: 90%;
  color: #fff;
}

.img-size {
  height: 378px;
}
.featured-collection-slider{
  padding-left: 55px;
  padding-right: 55px;
  max-width: 1200px;
  margin: 0 auto;
}
.featured-collection-slider .carousel-cell{
  width:28%;
  padding: 0 15px;
  display: block;
}
.flickity-button:disabled{
  pointer-events: all!important;
}
@media screen and (max-width: 920px){
  .featured-collection-slider{
    padding-left: 15px;
    padding-right: 15px;
  }
  .featured-collection-slider .carousel-cell{
    width:50%;
  }
}
@media screen and (max-width: 767px){
  .featured-collection-slider .carousel-cell{
    width:100% !important;
  }
}
</style>

{% schema %}
{
  "name": "Blog Slider",
  "settings": [
    {
      "type": "range",
      "id": "margin_top",
      "step": 5,
      "min": 0,
      "max": 200,
      "label": "Margin top (px)",
      "default": 60
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "step": 5,
      "min": 0,
      "max": 200,
      "label": "Margin bottom (px)",
      "default": 75
    },
    {
      "type": "range",
      "id": "padding_top",
      "step": 5,
      "min": 0,
      "max": 200,
      "label": "Padding top (px)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "step": 5,
      "min": 0,
      "max": 200,
      "label": "Padding bottom (px)",
      "default": 0
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blogs"
    },
    {
      "type": "range",
      "min": 10,
      "max": 52,
      "step": 1,
      "unit": "px",
      "id": "text_size",
      "label": "Title size",
      "default": 32
    },
    {
      "type": "color",
      "id": "title_color",
      "default": "#000",
      "label": "Title color"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "articles_count",
      "step": 1,
      "min": 4,
      "max": 12,
      "label": "Number of articles to display",
      "default": 4
    },
    {
      "type": "range",
      "id": "image_brightness",
      "step": 1,
      "min": 0,
      "max": 100,
      "label": "Brigtness of the image",
      "default": 67
    }
  ],
  "presets": [
    {
      "name": "Blog Slider",
      "settings": {}
    }
  ]
}
{% endschema %}